@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1166px;
    margin: 0 auto;
}


/* ====================== Header Start ============================== */

header{
    width: 100%;
    position: absolute;
    padding-top: 30px;
}

header nav .nav_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .nav_wrapper ul{
    display: flex;
    gap: 100px;
}
header nav .nav_wrapper ul li{
    list-style: none;
}
header nav .nav_wrapper ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 300px;
    color: #203239;
    font-family: "Poppins", sans-serif;
    position: relative;
}

header nav .nav_wrapper ul li a::after{
   content: "";
   width:0%;
   height: 3px;
   transform: translateX(-50%);
   background-color: #F6762E;
   position: absolute;
   left: 50%;
   bottom: 0;
   border-radius: 50px;
   transition: 0.4s;

}
header nav .nav_wrapper ul li .active::after{
   content: "";
   width:50%;
   height: 3px;
   transform: translateX(-50%);
   background-color: #F6762E;
   position: absolute;
   left: 50%;
   bottom: 0;
   border-radius: 50px;
   transition: 0.4s;

}
header nav .nav_wrapper ul li a:hover::after{
   width: 50%;
   

}
.active{
    font-weight: 600;
}
 
/* ====================== Header End ================================ */

/* =================== Banner Start ======================= */


#banner{

    background-color: #EEEDDE;
    padding-top: 96px;
}
.banner_wrapper{
    display: flex;
}
.banner-text{
    margin-top: 150px;
}
.banner-text h1{
    width: 777px;
    font-size: 56px;
    font-weight: 600;
    color: #203239;
    line-height: 150%;
    font-family: "Poppins", sans-serif;
}
.banner-text p{
    width: 544px;
    font-size: 16px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    line-height: 30px;
    color: rgba(32, 50, 57,.55);
    margin-top: 24px;

}
.input-box{
    position: relative;
    margin-top: 56px;
}
.input-box input{
    width: 508px;
    padding: 23px 0;
    border: none;
    border-radius: 15px;
    padding-left: 56px;
    font-size: 16px;
    color: rgba(32, 50, 57,.55);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    

}
.input-box button{
    width: 138px;
    padding: 23px 0;
    border-radius: 15px;
    border: none;
    background-color: #FFFFFF;
    font-size: 16px;
    color: rgba(32, 50, 57,.55);
    font-weight: 300;
    margin-left: 15px;
}
.location{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;

}
.banner_wrapper .banner-image img{
    display: flex;
    justify-content: end;
    
    
}
.banner-image img{
    padding-top: 50px;
    padding-bottom: 120px;
    margin-left: 16px;
    
   
}
/* =================== Banner End ======================= */

/* ==================== Properti Start ======================= */

#properti h2{
    width: 533px;
    font-size: 36px;
    font-weight: 600;
    color: #203239;
    line-height: 150%;
    font-family: "Poppins", sans-serif;
    margin-top: 30px;

}
.cart{
    display: flex;
    gap: 20px;
    margin-top: 30px;
    
}
.cart-1::after{
    content: "";
    width: 7px;
    height: 27px;
    background-color: #F6762E;
    position: absolute;
    left: 0;
    top: 20px;
    border-radius: 50px;
}
.cart-1{
    width: 300px;
    box-shadow: 0 4px 4px 0px rgba(32, 50, 57,.25);
    padding: 20px 33px;
    position: relative;
}
.number{
    display: flex;
    align-items: center;
}
.num{
    margin-left: 130px;
}
.number h4{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #203239;

}
.number h5{
    color: #F6762E;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}
.cart-1 p{
    width: 232px;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    font-family: "Poppins", sans-serif;
}
.cart-1 a{
    margin-top: 30px;
    display: inline-block;
    text-decoration: none;
    color: #203239;
    font-weight: 500;
    font-family: "Poppins", sans-serif;

}
/* ==================== Properti End ========================= */